# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

example/tcpserver/test-logs/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
*/test-logs/
log.*
example/monopoly/bin/
tools/behavior/.vs/
tools/behavior/Editor/bin/
tools/behavior/Editor/obj/
tools/behavior/Editor/obj/Debug/net8.0-windows/Editor.AssemblyInfo.cs
tools/behavior/Editor/obj/Debug/net8.0-windows/Editor.AssemblyInfoInputs.cache
tools/behavior/Editor/obj/Debug/net8.0-windows/Editor.assets.cache
tools/behavior/Editor/obj/Debug/net8.0-windows/Editor.csproj.AssemblyReference.cache
tools/behavior/Editor/obj/Debug/net8.0-windows/Editor.GeneratedMSBuildEditorConfig.editorconfig
