# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
# *.exe
*.exe~
# *.dll
*.so
*.dylib

example/tcpserver/test-logs/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
*/test-logs/
log.*
example/monopoly/bin/
tools/behavior/Editor/obj/
tools/behavior/NodeView/bin/
tools/behavior/NodeView/obj/
tools/behavior/.vs/behavior/FileContentIndex/3d37522d-a9bd-4ead-8b33-73b22308b9ee.vsidx
tools/behavior/.vs/behavior/FileContentIndex/6d126310-e2e1-452a-bddc-31f9ad5cb8c3.vsidx
tools/behavior/.vs/behavior/FileContentIndex/8a630673-995e-42bc-ad94-9d73109ab09f.vsidx
tools/behavior/.vs/behavior/FileContentIndex/b0d99d3c-6a57-4d2c-92d2-d5a72023217a.vsidx
tools/behavior/.vs/behavior/FileContentIndex/b2fadb7a-32e1-4d1b-bdbe-602e08755090.vsidx
tools/behavior/Behavior.Diagrams/.vs/Behavior.Diagrams.csproj.dtbcache.json
tools/behavior/Behavior.Diagrams/bin/Debug/Behavior.Diagrams.pdb
tools/behavior/Behavior.Diagrams/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams_MarkupCompile.cache
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams_MarkupCompile.i.cache
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams_MarkupCompile.i.lref
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams_MarkupCompile.lref
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams.csproj.AssemblyReference.cache
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams.csproj.CoreCompileInputs.cache
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams.csproj.FileListAbsolute.txt
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams.csproj.GenerateResource.cache
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams.g.resources
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams.pdb
tools/behavior/Behavior.Diagrams/obj/Debug/Behavior.Diagrams.Properties.Resources.resources
tools/behavior/Behavior.Diagrams/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tools/behavior/Behavior.Diagrams/obj/Debug/GeneratedInternalTypeHelper.g.cs
tools/behavior/Behavior.Diagrams/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/DiagramView.baml
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/EllipsePort.baml
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/Generic.baml
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/LinkBase.baml
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/Node.baml
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/RelinkControl.baml
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/SelectionFrame.baml
tools/behavior/Behavior.Diagrams/obj/Debug/Themes/Shared.baml
tools/behavior/Editor/bin/Debug/net8.0-windows/Behavior.Diagrams.pdb
example/monopoly/battle.service/battle.service
example/monopoly/battle.service/battle.service
